body {
    background-image: url('/resources/static/images/backgro.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* 배경 이미지를 화면에 가득 차게 설정 */
    background-opacity: 0.1; /* 0에서 1까지의 값, 1이 완전 불투명, 0이 완전 투명 */
     font-weight: bold;
   
    
}



.page-header {
    border-bottom: 5px solid white; /* 헤더의 하단 선 굵기 설정 */
    padding-bottom: 10px; /* 헤더 하단 패딩 추가 */
}

.form-horizontal .form-group {
    margin-bottom: 15px; /* 각 폼 그룹의 하단 간격 추가 */
}

.control-label {
    font-weight: bold; /* 제목 라벨 진하게 설정 */
}

.chk {
    border: 2px solid white; /* 입력 폼의 테두리 굵기 설정 */
}

.write_btn {
    font-weight: bold; /* 버튼 글씨 진하게 설정 */
}

hr {
    border-top: 4px solid white; /* 수평선 굵기 설정 */
    margin: 20px 0; /* 수평선 위아래 간격 설정 */
}
#root {
    background: rgba(135, 206, 250, 0.5); /* 푸른색 배경에 투명도 0.5 적용 */
}

h1{
	 font-weight: bold;
}

	