<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- boardMapper.xml -->
<mapper namespace="boardMapper">
	<!-- 게시판 글 작성 -->
	<insert id="insert">
		INSERT INTO MP_BOARD( BNO
		, TITLE
		, CONTENT
		, WRITER )
		VALUES( MP_BOARD_SEQ.NEXTVAL
		, #{title}
		, #{content}
		, #{writer} )

	</insert>

	<!-- 리뷰 작성 -->
	<insert id="reviewinsert">
		INSERT INTO MP_REVIEW( BNOS
		, TOTAL
		, CONTENT
		, RWRITER
		, ME
		)
		VALUES( MP_REVIEW_SEQ.NEXTVAL
		, #{total}
		, #{content}
		, #{rwriter} 
		, #{me} )
	</insert>

	
	<select id="reviewlist" resultType="kr.co.vo.ReviewVO">
		SELECT BNOS
		, TOTAL
		, RWRITER
		, ME
		, CONTENT
		, REGDATE
		FROM MP_REVIEW
		ORDER BY BNOS DESC
	</select>

	<!-- 리스트 목록 -->
	<select id="list" resultType="kr.co.vo.BoardVO">
		SELECT BNO
		, TITLE
		, WRITER
		, REGDATE
		FROM MP_BOARD
		ORDER BY BNO DESC
	</select>
	
		<!-- 번호 조회 해서 사용자 클릭했을때 사용자가 보이게 하기 -->
	<select id="reviewread" parameterType="int" resultType="kr.co.vo.ReviewVO">
		SELECT	BNOS
			  , TOTAL
			  , CONTENT
			  , RWRITER
			  , REGDATE
		 FROM MP_REVIEW
		 WHERE BNOS = #{bnos}
	</select>

	<select id="read" parameterType="int"
		resultType="kr.co.vo.BoardVO">
		SELECT BNO
		, TITLE
		, CONTENT
		, WRITER
		, REGDATE
		FROM MP_BOARD
		WHERE BNO = #{bno}
	</select>

	<update id="update" parameterType="kr.co.vo.BoardVO">
		UPDATE MP_BOARD
		SET TITLE =
		#{title},
		CONTENT = #{content}
		WHERE BNO = #{bno}
	</update>

	<delete id="delete" parameterType="int">
		DELETE
		FROM MP_BOARD
		WHERE BNO =
		#{bno}
	</delete>

	<select id="listPage" resultType="kr.co.vo.BoardVO"
		parameterType="kr.co.vo.SearchCriteria">
		SELECT BNO,
		TITLE,
		CONTENT,
		WRITER,
		REGDATE
		FROM (
		SELECT BNO,
		TITLE,
		CONTENT,
		WRITER,
		REGDATE,
		ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		FROM MP_BOARD
		WHERE 1=1
		<include refid="search"></include>
		) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>

	<select id="listCount" parameterType="kr.co.vo.SearchCriteria"
		resultType="int">
		SELECT COUNT(BNO)
		FROM MP_BOARD
		WHERE 1=1
		<include refid="search"></include>
		AND BNO > 0
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT
				LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
</mapper>